/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display: none;}

/* Common */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol,
li {
  padding:0;
  margin:0;
  list-style: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.app-body {
  background-color: #f9f9f9;
}

/* login */
.container-login {
  position: relative;
  height: 100%;
  background: url('../../images/login/background.jpg') no-repeat center center;
  background-size: 100% auto;
  background-attachment: fixed;
}
.container-login .inner-contents {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.container-login .logo {
  text-align: center;
}
.container-login .logo img {
  width: 174px;
}
.container-login .login-form {
  padding: 50px 35px 0;
}
.container-login .login-form .form-group {
  font-size: 0;
  border-bottom: 1px solid #d19fe9;
  margin-bottom: 20px;
}
.container-login .login-form .form-group:nth-of-type(3) {
  margin-bottom: 0;
}
.container-login .login-form .form-group .form-label {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 35px;
}
.container-login .login-form .form-group .form-label.form-label-company {
  background: url('../../images/icon/icon-company.png') no-repeat center center;
  background-size: 16px auto;
}
.container-login .login-form .form-group .form-label.form-label-id {
  background: url('../../images/icon/icon-id.png') no-repeat center center;
  background-size: 16px auto;
}
.container-login .login-form .form-group .form-label.form-label-password {
  background: url('../../images/icon/icon-password.png') no-repeat center center;
  background-size: 16px auto;
}
.container-login .login-form .form-group .form-control {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  line-height: 15px;
  font-size: 13px;
  color: #fff;
  width: calc(100% - 25px);
  border: 0;
  background-color: transparent;
}
.container-login .login-form .form-group .form-control::-moz-input-placeholder {
  color: #fff;
  opacity: 1;
}
.container-login .login-form .form-group .form-control::-webkit-input-placeholder,
.container-login .login-form .form-group .form-control::-ms-input-placeholder,
.container-login .login-form .form-group .form-control::-o-input-placeholder {
  color: #fff;
}
.container-login .login-form .form-group .form-control::placeholder {
  color: #fff;
  opacity: 1;
}
.container-login .login-form .btn-group {
  text-align: right;
  margin-top: 10px;
}
.container-login .login-form .btn-group .btn-find-password {
  color: #64ffda;
  font-size: 13px;
}
.container-login .login-form .btn-submit {
  margin-top: 60px;
  display: block;
  width: 100%;
  font-size: 15px;
  color: #6866e9;
  text-align: center;
  padding: 15px 0;
  border: 0;
  background-color: #fff;
}

/* header */
.app-header {
  position: relative;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.app-header .app-header-title {
  text-align: center;
  padding: 20px 0;
  font-size: 0;
}
.app-header .app-header-title img {
  width: 100px;
  height: auto;
}
.app-header .app-header-title.text-title {
  font-size: 20px;
  color: #212121;
  line-height: 60px;
  padding: 0;
  font-weight: 600;
}
.app-header .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 20px 15px;
  background-color: transparent;
  font-size: 0;
}
.app-header .btn-back {
  position: absolute;
  top: 50%;
  left: 0;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
  padding: 15px;
}
.app-header .btn-back::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(-45deg);
}
.app-header .icon-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../images/icon/icon-search.png') no-repeat;
  background-size: 20px auto;
}
.app-header .search-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px 15px 0;
}
.app-header .search-form .form-control {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: #b8b8b8;
  border: 0;
  border-bottom: 1px solid #3681ff;
  padding: 0 15px 10px 25px;
}
.app-header .search-form .btn-search-submit {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 0;
  background-color: transparent;
  padding: 3px 10px 10px 0;
  font-size: 0;
}
.app-header .search-form .icon-search-color {
  background: url('../../images/icon/icon-search-color.png') no-repeat;
  background-size: 16px auto;
  width: 16px;
  height: 16px;
}
.app-header .search-form .btn-search-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background-color: transparent;
  padding: 5px 0 12px 0;
  font-size: 0;
}
.app-header .search-form .icon-search-close {
  background: url('../../images/icon/icon-search-close.png') no-repeat;
  background-size: 12px auto;
  width: 12px;
  height: 12px;
}

/* nav tab */
.app-nav-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  background-color: #fff;
}
.app-nav-tab .nav-list {
  position: relative;
  font-size: 0;
  border-top: 1px solid #d9d9d9;
  height: 100%;
}
.app-nav-tab .nav-list .list-item {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}
.app-nav-tab .nav-list .list-item a {
  display: block;
  padding-top: 40px;
  font-size: 8px;
  color: #757575;
  line-height: 10px;
  height: 100%;
}
.app-nav-tab .nav-list .list-item-home a {
  background: url('../../images/icon/icon-bottom-home.png') no-repeat center bottom 25px;
  background-size: 18px auto;
}
.app-nav-tab .nav-list .list-item-home.active a {
  background: url('../../images/icon/icon-bottom-home-active.png') no-repeat center bottom 25px;
  background-size: 18px auto;
}
.app-nav-tab .nav-list .list-item-person a {
  background: url('../../images/icon/icon-bottom-person.png') no-repeat center bottom 25px;
  background-size: 19px auto;
}
.app-nav-tab .nav-list .list-item-person.active a {
  background: url('../../images/icon/icon-bottom-person-active.png') no-repeat center bottom 25px;
  background-size: 19px auto;
}
.app-nav-tab .nav-list .list-item-down a {
  background: url('../../images/icon/icon-bottom-down.png') no-repeat center bottom 25px;
  background-size: 18px auto;
}
.app-nav-tab .nav-list .list-item-down.active a {
  background: url('../../images/icon/icon-bottom-down-active.png') no-repeat center bottom 25px;
  background-size: 18px auto;
}
.app-nav-tab .nav-list .list-item-setting a {
  background: url('../../images/icon/icon-bottom-setting.png') no-repeat center bottom 25px;
  background-size: 20px auto;
}
.app-nav-tab .nav-list .list-item-setting.active a {
  background: url('../../images/icon/icon-bottom-setting-active.png') no-repeat center bottom 25px;
  background-size: 20px auto;
}
.app-nav-tab .nav-list .list-item.active a {
  color: #2979ff;
}

/* contents */
.app-contents {
  background-color: #f9f9f9;
  margin-bottom: 60px;
}
.app-contents .title {
  font-size: 14px;
  color: #212121;
}

.visual-swiper {
  position: relative;
  font-size: 0;
}
.visual-swiper .swiper-slide img {
  width: 100%;
}
.visual-swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}
.visual-swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.content-category {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}
.content-category .category-list {
  font-size: 0;
}
.content-category .category-list .list-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  font-size: 10px;
  color: #212121;
}
.content-category .category-list .list-item  a {
  display: block;
  padding: 15px 0;
  text-align: center;
}
.content-category .category-list .list-item span {
  display: block;
  padding-top: 35px;
}
.content-category .category-list .list-item:nth-child(2) span {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
.content-category .category-list .list-item.item-category-01 span {
  background: url('../../images/icon/icon-main-category-01.png') no-repeat center top;
  background-size: 28px auto;
}
.content-category .category-list .list-item.item-category-02 span {
  background: url('../../images/icon/icon-main-category-02.png') no-repeat center top;
  background-size: 24px auto;
}
.content-category .category-list .list-item.item-category-03 span {
  background: url('../../images/icon/icon-main-category-03.png') no-repeat center top;
  background-size: 28px auto;
}

.content-notice {
  position: relative;
  padding-bottom: 25px;
}
.content-notice .title-notice {
  margin: 0 12px 10px;
  padding-left: 20px;
  background: url('../../images/icon/icon-circle-notice.png') no-repeat left center;
  background-size: 16px auto;
}
.content-notice .notice-list {
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.content-notice .notice-list .list-item {
  position: relative;
  margin: 0 12px;
}
.content-notice .notice-list .list-item a {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  color: #555;
  font-size: 11px;
}
.content-notice .notice-list .list-item:not(:last-child) a {
  border-bottom: 1px solid #dfdfdf;
}
.content-notice .notice-list .list-item .date {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 60px;
}
.content-notice .notice-list .list-item .text {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 100px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-notice .notice-list .list-item .badge-new {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #f50057;
  color: #f50057;
  font-size: 8px;
  padding: 3px 4px;
  margin-left: 3px;
}

.content-slide {
  position: relative;
  padding-bottom: 25px;
}
.content-slide .title-required {
  margin: 0 12px 10px;
  padding-left: 20px;
  background: url('../../images/icon/icon-circle-recommend.png') no-repeat left center;
  background-size: 16px auto;
}
.content-slide .btn-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  padding: 2px 15px;
}
.content-slide .btn-more::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.content-slide .require-swiper {
  padding: 0 10px;
}
.content-slide .swiper-slide {
  width: calc(100% - 20px);
}
.content-slide .swiper-slide .thumb {
  position: relative;
  font-size: 0;
}
.content-slide .swiper-slide .thumb img {
  width: 100%;
}
.content-slide .swiper-slide .thumb .badge-thumb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff;
}
.content-slide .swiper-slide .info {
  position: relative;
  padding: 10px 10px 15px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-top: 0;
}
.content-slide .swiper-slide .info .info-title {
  font-size: 13px;
  color: #444;
  line-height: 17px;
  max-width: calc(100% - 70px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content-slide .swiper-slide .info .info-etc {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #555;
  font-size: 0;
  line-height: 17px;
}
.content-slide .swiper-slide .info .info-etc .info-play {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  padding-left: 10px;
  background: url('../../images/icon/icon-play.png') no-repeat left center;
  background-size: 7px auto;
  margin-right: 7px;
}
.content-slide .swiper-slide .info .info-etc .info-love {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  padding-left: 10px;
  background: url('../../images/icon/icon-love-color.png') no-repeat left center;
  background-size: 8px auto;
}
.content-slide .swiper-slide .info .info-date {
  font-size: 10px;
  color: #555;
  margin-top: 10px;
}

.content-list {
  position: relative;
  padding-bottom: 15px;
}
.content-list .title-new {
  margin: 0 12px 10px;
  padding-left: 20px;
  background: url('../../images/icon/icon-circle-new.png') no-repeat left center;
  background-size: 16px auto;
}
.content-list .title-search {
  font-size: 13px;
  color: #868686;
  padding: 20px 15px 10px;
  font-weight: 400;
}
.content-list .btn-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  padding: 2px 15px;
}
.content-list .btn-more::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.content-list .list {
  padding: 0 8px;
}
.content-list .list .list-item {
  font-size: 0;
  background-color: #fff;
  margin-bottom: 5px;
  height: 92px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.content-list .list .list-item:last-child {
  margin-bottom: 0;
}
.content-list .list .list-item .thumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 163px;
  height: 100%;
}
.content-list .list .list-item .thumb img {
  width: 100%;
}
.content-list .list .list-item .thumb .badge-thumb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff;
}
.content-list .list .list-item .thumb .icon-play-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../images/icon/icon-play-lg.png') no-repeat;
  background-size: 35px auto;
  width: 35px;
  height: 35px;
}
.content-list .list .list-item .info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 165px);
  padding: 10px;
  height: 100%;
}
.content-list .list .list-item .info .info-title {
  font-size: 12px;
  color: #444;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.content-list .list .list-item .info .info-date {
  font-size: 9px;
  color: #555;
  margin-top: 5px;
}
.content-list .list .list-item .info .info-etc {
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 10px;
  color: #555;
}
.content-list .list .list-item .info .info-etc .etc-text {
  font-size: 9px;
  line-height: 14px;
}
.content-list .list .list-item .info .info-etc .etc-text .tit {
  padding-right: 8px;
}
.content-list .list .list-item .info .info-view {
  display: inline-block;
  background: url('../../images/icon/icon-view.png') no-repeat left center;
  background-size: 7px auto;
  font-size: 9px;
  padding-left: 10px;
  margin-right: 7px;
}
.content-list .list .list-item .info .info-love {
  display: inline-block;
  background: url('../../images/icon/icon-love.png') no-repeat left center;
  background-size: 8px auto;
  font-size: 9px;
  padding-left: 10px;
  margin-right: 7px;
}
.content-list .list .list-item .info .info-play {
  display: inline-block;
  background: url('../../images/icon/icon-play.png') no-repeat left center;
  background-size: 8px auto;
  font-size: 9px;
  padding-left: 10px;
  margin-right: 7px;
}
.content-list .lise-none {
  padding-top: 60px;
  text-align: center;
}
.content-list .lise-none .none-img {
  width: 169px;
  height: auto;
}
.content-list .lise-none .none-text-ch {
  padding-top: 30px;
  font-size: 16px;
  color: #467ba8;
}
.content-list .lise-none .none-text-en {
  padding-top: 10px;
  font-size: 13px;
  color: #467ba8;
}


.search-select {
  position: relative;
  font-size: 0;
}
.search-select .btn-search-form-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 99;
  border: 0;
  border-left: 1px solid #1b51aa;
}
.search-select .btn-search-form-toggle::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: center;
  transform: rotate(-45deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.search-select.active .btn-search-form-toggle {
  border-left: 0;
}
.search-select.active .btn-search-form-toggle::after {
  transform: rotate(135deg);
  margin-top: 5px;
  margin-bottom: 0;
  border-color: #2979ff;
}
.search-select .search-keyword {
  background-color: #2979ff;
  padding: 10px 50px 10px 15px;
  height: 50px;
}
.search-select.active .search-keyword {
  background-color: #fff;
  border-bottom:1px solid #b6b6b6;
}
.search-select .search-keyword .keyword {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 8px;
}
.search-select.active .search-keyword .keyword {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.search-select .search-keyword .keyword .form-control-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.search-select .search-keyword .keyword .form-control-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.search-select.active .search-keyword .keyword .form-control-label {
  border: 1px solid #2979ff;
  color: #2979ff;
  padding: 5px 10px;
}
.search-select.active .search-keyword .keyword .form-control-check:checked + .form-control-label {
  background-color: #2979ff;
  color: #fff;
}
.search-select .search-keyword .keyword .btn-keyword-delete {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
  width: 13px;
  height: 13px;
  padding: 0 2px;
  font-size: 0;
}
.search-select.active .search-keyword .keyword .btn-keyword-delete {
  display: none;
}
.search-select .search-keyword .keyword .btn-keyword-delete::before,
.search-select .search-keyword .keyword .btn-keyword-delete::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 1px;
  height: 11px;
  background-color: #a9c9ff;
}
.search-select .search-keyword .keyword .btn-keyword-delete::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.search-select .search-form {
  display: none;
  position: relative;
  padding: 12px 8px;
}
.search-select .search-form .form-control {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #b8b8b8;
  border: 1px solid #3681ff;
  padding: 10px 40px 10px 10px;
}
.search-select .search-form .btn-search {
  position: absolute;
  top: 50%;
  right: 8px;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
  padding: 10px;
}
.search-select .search-form .btn-search .icon-search-color {
  background: url('../../images/icon/icon-search-color.png') no-repeat;
  background-size: 16px auto;
  width: 16px;
  height: 16px;
}